/*----------------Common Color------------------------------*/
#statusbar,#menubar,#QTabBar:tab,#title_widget{
background-color:@main-color;
}
/*----------------MenuBar-------------------------*/
#menubar{
border-bottom:1px solid @second-color;
border-top:1px solid @second-color;
}
QMenuBar{
color: @ledit-text;
font:10pt 'Roboto';
background-color:transparent;
padding-top:2px;
}

QMenu {
border:1px solid;
font:10pt 'Roboto';
background:@main-color;
color:@ledit-text;

}
/*----------------StatusBar-------------------------*/
#statusbar QLabel{
font:12pt 'Manrope';
color:@ledit-text;
}

/*----------------Title-Widget-------------------------*/
#title_widget{
border-top-left-radius:0px;
border-top-right-radius:0px;
max-height:60px;
min-height:60px;
}

#title_widget #button_close{
max-height:20px;
min-height:20px;
max-width:20px;
min-width:20px;
border-radius:12px;
border:2px solid gray;
icon-size:15px;
}
#title_widget #button_close:hover{
	background-color: @close-color;
}

#title_label{
font: 20pt 'Roboto Black';
color:#12B886
}
/*----------------Elements-------------------------*/
#main_frame{
border:1px solid;
border-radius:0px;
background:@second-color;
}

QFrame[objectName*="wrapper"]{
max-height:110px;
}

#content_widget{
	background-color: transparent;
}

QLabel[objectName*="icon"]{
max-width:40px;
max-height:40px;
min-width:40px;
min-height:40px;
}

QPushButton[objectName^="browse"]{
max-width:40px;
max-height:40px;
min-width:40px;
min-height:30px;
icon-size:30px;
border:none;
}

QLineEdit, QLabel, QTextEdit{
max-height:40px;
min-height:40px;
}

#_t1, #_t3{
color:#5C7CFA;
}
#_t2,#_t4{
color:rgb(250,82,82);
}
#_t5,#_t6{
color:rgb(32, 201, 151);
}
QLabel[objectName^="_"]{
font:12pt 'Roboto Medium';
}

QTextEdit , QLineEdit{
background-color: @line-edit-color;
border:none;
border-radius:10px;
padding-left:10px;
font:11pt 'Manrope';
color:@ledit-text;
}

QPushButton[objectName^="convert"]{
max-width:150px;
max-height:50px;
min-width:150px;
min-height:50px;
font: 500 12pt "Roboto Medium";
icon-size:20px;
color:#8BB7F0;
background-color:@second-color;
border:none;
border-radius:5px;
}



/*---------------QTabWidget--------------------------*/

QTabWidget::pane {
    border: 1px solid #228BE6;
    top: -1px;
    border-radius:0px;
    }

QTabWidget::tab-bar{
left:20px;

}

QTabBar:tab{
color:@ledit-text;
font:11pt 'Roboto';
background:@second-color;
width: 20ex;
height:25px;
}

QTabBar::tab:selected{
background-color:@main-color;
color:@ledit-text;
border-width:2px;
border-color:green;
border-left:1px solid #228BE6;
border-right:1px solid #228BE6;
border-top:1px solid #228BE6;
}
/*-----------------------------------------*/

#ui_tab,#qrc_tab{
background:@main-color;
}